@using PagedList.Mvc
@using MarkdownRepository.Controllers
@using MarkdownRepository.Lib
@model PagedList.IPagedList<MarkdownRepository.Models.Document>

@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var myFollwedDocs = ViewBag.MyFollowedDocs as List<MarkdownRepository.Models.Document>;
}

<div class="blog-post markdown-body col-md-10">
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-striped">
            <tbody>
                @foreach (var doc in Model)
                {
                    <tr>
                        <td>
                            <div>
                                <div class="doc-list">
                                    <a href='@Url.Action("Show", new { id = doc.rowid })'>
                                        <h3>@doc.title</h3>
                                    </a>

                                    <div class="list-foot">
                                        @if (!string.IsNullOrEmpty(doc.category))
                                        {
                                            <span class="list-doc-category">文章分类: </span> @doc.category
                                        }
                                        <span class="list-doc-updatetime">更新时间: </span> @doc.update_at
                                    </div>
                                </div>
                                
                                @*@if (User.Identity.IsAuthenticated)
                                {
                                    <div class="pull-right" style="margin-top:25px;font-size:0.8em;">
                                        @if (myFollwedDocs.Any(t => t.rowid == doc.rowid))
                                        {
                                            <button class="followed">
                                                <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="关注"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="follow-doc" onclick="followDoc(this, @doc.rowid);">
                                                <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="关注"></span>
                                            </button>
                                        }
                                    </div>
                                }*@

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- 分页 -->
        <text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>

        @Html.PagedListPager(Model, page => Url.Action("AllDocument", new { page }))
    }
</div>
<div class="col-md-2">
    <div class="side-category">
        <div class="title">文章分类</div>
        <div class="doc-category">
            @if (ViewBag.Category != null)
            {
                <ul>
                    @foreach (var c in ViewBag.Category as List<dynamic>)
                    {
                        if (!string.IsNullOrWhiteSpace(c.category as string))
                        {
                            <li>@Html.ActionLink(string.Format("{0}", c.category as string), "SearchByCategory", new { category = c.category, byOwner=false })<sup> @c.hint</sup> </li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
    <div style="margin-top:1em; font-size:0.8em;">
        标题词云
    </div>
    <div id="title_word_cloud"></div>
</div>
@section style{
    <style>
        .doc-list{
            float:left;
        }
        .follow-doc{
            background-color: inherit;
            color: #ddd;
            border: none;
        }
        .followed{
            background-color: inherit;
            color: red;
            border: none;
        }
    </style>

    <link href="~/css/jqcloud.min.css" rel="stylesheet">
}

@section scripts{
    <script>
        function followDoc(e, id){
            var _this = e;
            $.ajax({
                type: "POST",
                url: "@Url.Action("FollowDocument", "Document")",
                data: { id: id },

                success: function (data) {
                    if(data.success){
                        $(_this).removeClass('follow-doc').addClass('followed');
                    }else{
                    }
                }
            });
        }

    </script>

    <script src="~/javascripts/jqcloud.min.js"></script>
    <script>
        $(function () {
            var words = @Html.Raw(ViewBag.TitleWordCloud);
            $("#title_word_cloud").jQCloud(words, {
                //width: 500,
                height: 350
            });
        });
    </script>
}
