@using MarkdownRepository.Controllers
@using MarkdownRepository.Lib
@model List<MarkdownRepository.Models.Document>

@{
    ViewBag.Title = "All Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog-post markdown-body col-md-10">
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-striped">
            <tbody>
                @foreach (var doc in Model)
                {
                    <tr>
                        <td>
                            <div class="doc-list">
                                <a href='@Url.Action("Show", new { id = doc.rowid })'>
                                    <h3>@doc.title</h3>
                                </a>

                                <div class="list-foot">
                                    @if (!string.IsNullOrEmpty(doc.category))
                                    {
                                        <span class="list-doc-category">Category: </span> @doc.category
                                    }
                                    <span class="list-doc-updatetime">Update datetime: </span> @doc.update_at
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    <!-- 分页 -->
    }
</div>
<div class="col-md-2">
    <div class="side-category">
        <div class="title">文档分类</div>
        <div class="doc-category">
            @if (ViewBag.Category != null)
            {
                <ul>
                    @foreach (var c in ViewBag.Category as List<dynamic>)
                    {
                        if (!string.IsNullOrWhiteSpace(c.category as string))
                        {
                            <li>@Html.ActionLink(string.Format("{0}", c.category as string), "SearchByCategory", new { category = c.category, byOwner=false })<sup> @c.hint</sup> </li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
</div>
@section style{
    <style>
    </style>
}
