@using PagedList.Mvc
@using MarkdownRepository.Controllers
@using MarkdownRepository.Lib
@model PagedList.IPagedList<MarkdownRepository.Models.Document>

@{
    ViewBag.Title = "全部文章";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var myFollwedDocs = ViewBag.MyFollowedDocs as List<MarkdownRepository.Models.Document>;
}

<style>
    .master-speak{
        background-color:lightgray;
        border-left:1px solid blue;
        font-size: 0.7em;
        padding: 0.3em;
    }
</style>

<div class="blog-post markdown-body col-md-10">
    @if (ViewBag.TaoOfProgramming != null) {
        var obj = (ViewBag.TaoOfProgramming as TaoOfProgramming);
        if(obj != null)
        {
            <div class="master-speak">
                <span>英语学习：</span>
                <span>@obj.en</span>
                <span>@obj.zh</span>
            </div>
        }
    }

    @if (Model != null && Model.Count > 0)
    {
        <div>
            <span class="doc-order @(ViewBag.OrderBy != "read_count"?"active":"inactive")">@Html.ActionLink("最新", "AllDocument", new { orderBy = "create_time" })</span>
            | <span class="doc-order @(ViewBag.OrderBy == "read_count" ? "active" : "inactive")">@Html.ActionLink("热门", "AllDocument", new { orderBy = "read_count" })</span>
        </div>

        <table class="table table-striped all-doc">
            <tbody>
                @foreach (var doc in Model)
                {
                    <tr>
                        <td>
                            <div>
                                <div class="doc-list">

                                    <a href='@Url.Action("Show", new { id = doc.rowid })'>
                                        <h3>@doc.title</h3>
                                    </a>

                                    <div class="list-foot pull-left">
                                        <span class="list-doc-category">文章分类: </span>
                                        @if (!string.IsNullOrEmpty(doc.category))
                                        {
                                            @doc.category
                                        }
                                        <span class="list-doc-updatetime">更新时间: </span> @doc.update_at
                                        <span class="list-doc-creator">作者：</span> @(AdAccount.GetUserNameById(doc.creator))

                                    </div>
                                    @if (User.IsInRole("admin"))
                                    {
                                        <div class="list-foot pull-left" style="margin-left: 1em;">
                                            <a href="javascript:transferDoc(@doc.rowid, '@doc.title')"><span class="glyphicon glyphicon-duplicate"></span> 转让</a>
                                            <a href="javascript:deleteDoc('@doc.rowid')"><span class="glyphicon glyphicon-trash"></span> 删除</a>
                                        </div>
                                    }
                                </div>

                                @*@if (User.Identity.IsAuthenticated)
                                {
                                    <div class="pull-right" style="margin-top:25px;font-size:0.8em;">
                                        @if (myFollwedDocs.Any(t => t.rowid == doc.rowid))
                                        {
                                            <button class="followed">
                                                <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="关注"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="follow-doc" onclick="followDoc(this, @doc.rowid);">
                                                <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="关注"></span>
                                            </button>
                                        }
                                    </div>
                                }*@

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- 分页 -->
        <text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>

        @Html.PagedListPager(Model, page => Url.Action("AllDocument", new { page, orderBy = ViewBag.OrderBy }))
    }
</div>
<div class="col-md-2">
    <div class="subscribe">
        <img src="@Url.Content("~/images/subscribe.png")"/> @Html.ActionLink("订阅更新", "LastestDocuments")
    </div>
    <div class="side-category">
        <div class="title">文章分类</div>
        <div class="doc-category">
            @if (ViewBag.Category != null)
            {
                <ul>
                    @foreach (var c in ViewBag.Category as List<dynamic>)
                    {
                        if (!string.IsNullOrWhiteSpace(c.category as string))
                        {
                            <li>@Html.ActionLink(string.Format("{0}", c.category as string), "SearchByCategory", new { category = c.category, byOwner=false })<sup> @c.hint</sup> </li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
    <div style="margin-top:1em; font-size:0.8em;">
        标题词云
    </div>
    <div id="title_word_cloud"></div>
</div>
@section style{
    <style>
        .doc-list{
            float:left;
        }
        .follow-doc{
            background-color: inherit;
            color: #ddd;
            border: none;
        }
        .followed{
            background-color: inherit;
            color: red;
            border: none;
        }
        .subscribe{
            border: gray solid;
            font-size: 0.7em;
            padding: 3px;
        }
        .subscribe img{
            height: 17px;
        }
        span.doc-order{
            padding: 1em;
            font-size: 0.75em;
        }
        span.active{
            font-weight: bold;
        }
        span.inactive a{
            color: rgb(135, 131, 124);
        }
    </style>

    <link href="~/css/jqcloud.min.css" rel="stylesheet">
    <link href="~/javascripts/layer-v3.1.1/layer/theme/default/layer.css" rel="stylesheet" />
}

@if (User.IsInRole("admin"))
{
    <div id="diag_transfer_doc" style="display:none; padding:1em;">
        <h4 id="transfer_doc_name"></h4>
        <input type="hidden" id="transfer_doc_id" />
        <div class="form-group">
            <label>转让给：</label>
            @Html.DropDownList("transfer_user_id", (SelectList)ViewBag.TransferUsers, string.Empty, new { @class = "form-control select-list" })
        </div>
        <div class="form-group">
            <button id="transfer_submit" class="btn-primary" type="submit">确认</button>
        </div>
    </div>
}


@section scripts{
    <script src="~/javascripts/layer-v3.1.1/layer/layer.js"></script>

    <script>
        function followDoc(e, id){
            var _this = e;
            $.ajax({
                type: "POST",
                url: "@Url.Action("FollowDocument", "Document")",
                data: { id: id },

                success: function (data) {
                    if(data.success){
                        $(_this).removeClass('follow-doc').addClass('followed');
                    }else{
                    }
                }
            });
        }

        function deleteDoc(id){
            if (confirm("确认删除?")) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete","Document")",
                    data: { id: id },

                success: function (data) {
                    if(data.success){
                        location.reload();
                    }else{
                        alert(data.message);
                    }
                }
            });
        }
        }

        function transferDoc(docId, docName) {
            $("#transfer_doc_name").text("文章: " + docName);
            $("#transfer_doc_id").val(docId);

            window.diagEditBookInfoIndex = layer.open({
                type: 1,
                title: "转让文章",
                closeBtn: 1,
                moveType: 1,
                shade: 0,
                area: '450px',
                skin: 'layui-layer-rim', //加上边框
                content: $('#diag_transfer_doc')
            });
        }

        $("#transfer_submit").on('click', function () {
            var docid = $("#transfer_doc_id").val();
            var userId =  $("#transfer_user_id").val();
            if (docid && userId) {
                $.ajax({
                    url: '@Url.Action("TransferDocumentOwner")',
                    data: { docid: docid, transferid: userId },
                    cache: false,
                    dataType: "json",
                })
                .success(function (res) {
                    if (res.isSuccess) {
                        alert("转让成功");
                        window.location.reload();
                    } else {
                        layer.alert(res.message);
                    }
                });
            } else {
                layer.alert("请选择转让人，转让人不能是自己");
            }
        });

    </script>

    <script src="~/javascripts/jqcloud.min.js"></script>
    <script>
        $(function () {
            var words = @Html.Raw(ViewBag.TitleWordCloud);
            $("#title_word_cloud").jQCloud(words, {
                //width: 500,
                height: 350
            });
        });
    </script>
}
