@using MarkdownRepository.Controllers
@using MarkdownRepository.Lib
@model List<MarkdownRepository.Models.Document>

@{
    ViewBag.Title = "All Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog-post markdown-body col-md-10">
    @if (Model != null && Model.Count > 0)
    {
        <ul class="latest-doc">
            @foreach (var doc in Model)
            {
                <li>
                    <div class="doc-list">
                        <a href='@Url.Action("Show", new { id = doc.rowid })'>
                            <h4>@doc.title</h4>
                            <div class="md" id="md_@doc.rowid">
                                @(doc.content.StripHTML().GetShortDesc())
                            </div>
                        </a>

                        <div class="category">
                            @doc.category
                        </div>

                        <div class="updated-time">
                            Updated By: @doc.creator, Updated Time: @doc.update_at
                        </div>
                    </div>
                </li>
            }
        </ul>

    <!-- 分页 -->
    }
</div>
<div class="col-md-2">
    <div class="side-category">
        <span class="title">Documents Category</span>
        <div class="doc-category">
            @if (ViewBag.Category != null)
            {
                <ul>
                    @foreach (var c in ViewBag.Category as List<dynamic>)
                    {
                        if (!string.IsNullOrWhiteSpace(c.category as string))
                        {
                            <li>@Html.ActionLink(string.Format("{0}", c.category as string), "SearchByCategory", new { category = c.category, byOwner=false })<span style="font-size:0.7em"> @c.hint</span> </li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
</div>
@section style{
    <style>
        .blog-post {
            margin-left: -45px;
        }

        .latest-doc li {
            list-style-type: none;
            margin-bottom: 1em;
        }

        .doc-list {
            background-color: #f3f9f7;
            border-radius: 5px;
            padding: 5px;
        }

        .updated-time {
            font-size: 0.7em;
            color: Gray;
            font-family: sans-serif;
            margin-top: 0.5em;
        }

        .category {
            padding-left: 1em;
            color: #337ab7;
            font-size: 0.8em;
        }

        .md {
            word-wrap: break-word;
            font-size: 0.8em;
            color: gray;
            margin: 1em;
        }

        .side-category {
            height: 100%;
        }

		.side-category .title {
			font-size: 0.8em;
			padding: 0.2em;
			color: firebrick;
			font-family: cursive;
		}

        .doc-category {
            background-color: #f3f9f7;
            border-radius: 5px;
            padding: 5px;
        }

		.doc-category ul {
			padding-left: 0.2em;
		}

		.doc-category ul li {
			list-style-type: none;
			font-size: 0.8em;
		}
    </style>
}
