@using MarkdownRepository.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MarkdownRepository.Models.Document
@{
    var doc = Model ?? new MarkdownRepository.Models.Document() ;    
}

<div id="message" class=""></div>

<input id="docId" type="hidden" value="@doc.rowid" />

<label style="font-size:0.8em">Title
    <input id="title" class="form-control col-sm-4"  type="text" value="@doc.title" class="" />
</label>

<label style="font-size:0.8em">Category
    <input id="category" class="form-control col-sm-4" placeholder="',' as delimeter" type="text" value="@doc.category" class="" />
</label>

<label style="font-size:0.8em">Public
    <input id="access" type="checkbox" @(doc.is_public == DocumentAccess.PUBLIC?"checked":"") />
</label>

<button id="btnSave" class="btn btn-default pull-right"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>

<div id="mkEditor">
    <textarea style="display:none;">@doc.content</textarea>
</div>

@section style{
    @System.Web.Optimization.Styles.Render("~/css/editor.md")
}

@section scripts{

@System.Web.Optimization.Scripts.Render("~/script/editor.md")

    <script>
        $(function () {
            editormd("mkEditor", {
                width: "100%",
                height: 640,
                saveHTMLToTextarea: true,
                autoLoadModules: false,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: '@Url.Action("UploadImage", "Document")',
                pluginPath: '@Url.Content("~/editor.md/plugins/")'
            });


            $("#btnSave").on('click', function () {
                $.post('@Url.Action("Create", "Document")',
                    {
                        content: $("#mkEditor > textarea").val(),
                        title: $("#title").val(),
                        category: $("#category").val(),
                        id: $("#docId").val(),
                        access: $("#access").val() == "on" ? 1 : 0
                    },
                    function (result) {
                        $("#docId").val(result.rowid);
                        var msg = "<div id='test' style='padding:0.2em; border-radius:1.5em;color:#fff;font-size:3em;z-index:999;position:absolute;top:50%;left:50%;opacity:0.8; background-color:#000'></div>"
                            ,$msg = $(msg);
                        $msg.text("Saved")
                        $("body").append($msg);
                        $msg.animate({ top: 0, left:0, fontSize: 0, opacity: 0 }, 2000, function () {
                            $(this).remove();
                        })                        
                    });
                return false;
            });

            $(document).on('keydown', function (e) {
                var ctrlKey = e.ctrlKey || e.metaKey;
                if (ctrlKey) {
                    var keyCode = e.keyCode || e.which || e.charCode;
                    // ctrl+s
                    if (ctrlKey && keyCode == 83) {
                        $('#btnSave').trigger('click');
                        e.preventDefault();
                        return false;
                    }
                }
            });

        });    
    </script>
}