@using PagedList.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<MarkdownRepository.Models.Document>

@if (Model != null && Model.Count > 0)
{
    <div class="blog-post markdown-body col-md-10">
        <table class="table table-striped">
            <tbody>
                @foreach (var doc in Model)
                {
                    <tr>
                        <td>
                            <div class="doc-list">
                                <div class="pull-right" style="font-size:0.7em;">
                                    <a href="@Url.Action("Create", new { id = doc.rowid })"><span class="glyphicon glyphicon-edit"></span> 修改</a>
                                    <a href="javascript:deleteDoc('@doc.rowid')"><span class="glyphicon glyphicon-trash"></span> 删除</a>
                                </div>

                                <a href='@Url.Action("Show", new { id = doc.rowid })'>
                                    <h3>@doc.title</h3>
                                </a>

                                <div class="list-foot">
                                    @if (!string.IsNullOrEmpty(doc.category))
                                    {
                                        <span class="list-doc-category">文章分类: </span> @doc.category
                                    }
                                    <span class="list-doc-updatetime">更新时间: </span> @doc.update_at
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- 分页 -->
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>

    <div class="col-md-2 side-category">
        <div class="export-section">
            <a href="@Url.Action("ExportMyDocumentsWithMarkdown", "Document")"><span class="glyphicon glyphicon-floppy-save"></span> 导出全部</a>            
        </div>
        <div class="title">文章分类</div>
        <div class="doc-category">        
        @if (ViewBag.Category != null) 
        {
            <ul>
                @foreach (var c in ViewBag.Category as List<dynamic>) 
                {
                    if (!string.IsNullOrWhiteSpace(c.category as string))
				    {
                    <li>@Html.ActionLink(string.Format("{0}", c.category as string), "SearchByCategory", new { category = c.category, byOwner=true })<sup> @c.hint</sup> </li>
				    }
                }
            </ul>
        }
        </div>

        <div style="margin-top:1em; font-size:0.8em;">
            标题词云
        </div>
        <div id="title_word_cloud"></div>
    </div>
}
else
{
    <div>
        <h1>你还没有文档</h1>
    </div>
}


@section style{
    <style>
        .export-section{
            padding: 5px;
            font-size: 0.85em;
            background-color: #f9f9f9;
        }
    </style>
    <link href="~/css/jqcloud.min.css" rel="stylesheet">
}

@section scripts{

<script>
    function deleteDoc(id){
        if (confirm("确认删除?")) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Delete","Document")",
                data: { id: id },

                success: function (data) {
                    if(data.success){
                        location.reload();
                    }else{
                        alert(data.message);
                    }
                }
            });
        }
    }

</script>

<script src="~/javascripts/jqcloud.min.js"></script>
<script>
        $(function () {
            var words = @Html.Raw(ViewBag.TitleWordCloud);
            $("#title_word_cloud").jQCloud(words, {
                //width: 500,
                height: 350
            });
        });
</script>
}

