@using MarkdownRepository.Lib

@{
    ViewBag.Title = "MyBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  IList<MarkdownRepository.Models.Book>


@section style{
    <link href="~/javascripts/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/javascripts/layer-v3.1.1/layer/theme/default/layer.css" rel="stylesheet" />

    <style>
        .search-box {
            margin-top: 2em;
        }

            .search-box .form-group {
                width: 75%;
            }

                .search-box .form-group input {
                    width: 100%;
                }

        .search-list {
            margin: 0.8em 0 0.7em 1em;
            list-style: none;
            background-color: #f9f9f9;
            padding: 0.5em;
            border-radius: 5px;
            border: #ddd solid 1px;
        }

        .update-time {
            font-size: 0.7em;
            color: gray;
            font-family: sans-serif;
        }

        .category {
            color: #337ab7;
            font-size: 0.7em;
        }

        input.switch {
            font-size: 1em;
        }

        .select-list{
            width: 220px;
        }

        .bootstrap-switch, .bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
            /*height: 25px;*/
        }
        

    </style>
}


<div>
    <div>
        @using (Html.BeginForm("SearchBook", "Document", FormMethod.Get, new { @class = "form-inline col-sm-offset-2 search-box", @role = "form" }))
        {
            <div class="form-group">
                @Html.TextBox("searchText", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "书籍名或简介" })
            </div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>搜索书籍</button>
        }
    </div>

    <div style="min-height:600px;">
        <ul style="padding-left:0">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <li class="search-list">
                        <div>
                            <a href="@Url.Action("ShowBook", new { bookid = item.id })">
                                <h4>@Html.Raw(item.name)</h4>
                                <p style="text-overflow: ellipsis; word-wrap: break-word; font-size: 0.7em; color: gray; margin: 1em;">
                                    简介: @Html.Raw(item.description)
                                </p>
                            </a>
                        </div>

                        <div class="category">
                            分类: @Html.Raw(item.category)
                        </div>

                        <div class="update-time">
                            创建人: @AdAccount.GetUserNameById(item.creator), 更新时间: @item.update_at
                        </div>

                        <div class="toolbar">
                            <input type="checkbox" class="switch" data-value-book-id="@item.id" @(item.is_public == MarkdownRepository.Models.DocumentAccess.PUBLIC ? "checked" : "")>

                            <button class="btn btn-primary btn-xs" onclick="transferBook(@item.id, '@item.name')" type="button">转让书籍</button>   
                            
                            <a class="btn btn-primary btn-xs" href="@Url.Action("EditBook", new { id = item.id })"><i class="glyphicon glyphicon-edit"></i> 编辑</a>                     
                            <a class="btn btn-primary btn-xs" href="#" onclick="return confirmDelete('@item.name', '@item.id');"><i class="glyphicon glyphicon-trash"></i> 删除</a>  
                        </div>

                    </li>
                }
            }
        </ul>
    </div>

</div>

<div id="diag_transfer_book" style="display:none; padding:1em;">
    <h4 id="transfer_book_name"></h4>
    <input type="hidden" id="transfer_book_id" />
    <div class="form-group">
        <label>转让给：</label>
        @Html.DropDownList("transfer_user_id", (SelectList)ViewBag.TransferUsers, string.Empty, new { @class = "form-control select-list" })
    </div>
    <div class="form-group">
        <button id="transfer_submit" class="btn-primary" type="submit">确认</button>
    </div>
</div>

@section scripts{
    <script src="~/javascripts/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/javascripts/layer-v3.1.1/layer/layer.js"></script>

    <script>        
        function confirmDelete(name, id) {
            if(confirm("确认删除 《" + name + "》")){
                location.href = "@Url.Action("DeleteBook")" + "?bookid=" + id;
            }
        }

        function transferBook(bookid, bookname) {
            $("#transfer_book_name").text("书名: " + bookname);
            $("#transfer_book_id").val(bookid);            

            window.diagEditBookInfoIndex = layer.open({
                type: 1,
                title: "转让书籍",
                closeBtn: 1,
                moveType: 1,
                shade: 0,
                area: '450px',
                skin: 'layui-layer-rim', //加上边框
                content: $('#diag_transfer_book')
            });
        }

        $(document).ready(function () {
            window.$transferBookName = $("#transfer_book_name");
            window.$transferBookId = $("#transfer_book_id");
            window.$transferUserId = $("#transfer_user_id");


            $("#transfer_submit").on('click', function () {
                var bookid = $transferBookId.val();
                var userId =  $transferUserId.val();
                if (bookid && userId) {
                    $.ajax({
                        url: '@Url.Action("TransferBookOwner")',
                        data: { bookid: bookid, transferid: userId },
                        cache: false,
                        dataType: "json",
                    })
                    .success(function (res) {
                        if (res.isSuccess) {
                            alert("转让成功");
                            window.location.reload();
                        } else {
                            layer.alert(res.message);
                        }
                    });
                } else {
                    layer.alert("请选择转让人，转让人不能是自己");
                }
            });

            $("input.switch").bootstrapSwitch({
                onText: '公开',
                offText: '不公开',
                size: 'mini',
                onSwitchChange: function (event, state) {
                    var bookid = event.target.dataset.valueBookId;
                    var access = state ? 1 : 0;
                    $.ajax({
                        url: '@Url.Action("SetBookState")',
                        data: { bookid: bookid, access: access },
                        cache: false,
                        dataType: "json",
                    })
                    .success(function (res) {
                        if (res.isSuccess) {
                            return true;
                        } else {
                            return false;
                        }
                    });
                }
            });
        });
    </script>
}