@using MarkdownRepository.Controllers
@using MarkdownRepository.Lib
@model List<MarkdownRepository.Models.Document>

@{
    ViewBag.Title = "我关注的文章";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog-post markdown-body col-md-10">
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-striped">
            <tbody>
                @foreach (var doc in Model)
                {
                    <tr>
                        <td>
                            <div>
                                <div class="doc-list">
                                    <a href='@Url.Action("Show", new { id = doc.rowid })'>
                                        <h3>@doc.title</h3>
                                    </a>

                                    <div class="list-foot">
                                        @if (!string.IsNullOrEmpty(doc.category))
                                        {
                                            <span class="list-doc-category">文章分类: </span> @doc.category
                                        }
                                        <span class="list-doc-updatetime">更新时间: </span> @doc.update_at
                                    </div>
                                </div>

                                <div class="pull-right" style="margin-top:25px;font-size:0.8em;">
                                    <button class="followed" onclick="cancelFollowDoc(this, @doc.rowid)">
                                        <span class="glyphicon glyphicon-eye-close" data-toggle="tooltip" title="取消关注"></span>
                                    </button>
                                </div>
                                

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    <!-- 分页 -->
    }
</div>
<div class="col-md-2">
    <div class="side-category">
        <div class="title">文章分类</div>
        <div class="doc-category">
            @if (ViewBag.Category != null)
            {
                <ul>
                    @foreach (var c in ViewBag.Category as List<dynamic>)
                    {
                        if (!string.IsNullOrWhiteSpace(c.category as string))
                        {
                            <li>@Html.ActionLink(string.Format("{0}", c.category as string), "SearchByCategory", new { category = c.category, byOwner = false })<sup> @c.hint</sup> </li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
</div>
@section style{
    <style>
        .doc-list {
            float: left;
        }

        .followed {
            background-color: inherit;
            color: gray;
            border: none;
        }
    </style>
}

@section scripts{

    <script>
        function cancelFollowDoc(e, id){
            var _this = e;
            if (confirm("确认取消关注?")) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CancelFollow", "Document")",
                    data: { id: id },
                    success: function (data) {
                        if(data.success){
                            $(_this).closest('tr').remove();
                        }else{
                        }
                    }
                });
            }
        }
    </script>
}
