@using PagedList.Mvc
@using MarkdownRepository.Lib
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
<style>
    .search-box{ margin-top:2em; }
    .search-box .form-group { width: 75%; }
    .search-box .form-group input{ width:100%; }
    .search-list 
    {
        margin: 0.8em 0 0.7em 1em;
        list-style: none;
        background-color: #f9f9f9;
        padding: 0.5em;
        border-radius: 5px; 
        border: #ddd solid 1px;
    }
    .update-time
    {
        font-size: 0.7em;
        color: gray;
        font-family: sans-serif;
    }
    .category{ padding-left:1em; color:#337ab7; font-size:0.8em;}
</style>
}

@model PagedList.IPagedList<MarkdownRepository.Models.Document>

@using (Html.BeginForm("Search", "Document", FormMethod.Get, new { @class = "form-inline col-sm-offset-2 search-box", @role = "form" }))
{ 
    <div class="form-group">
        @Html.TextBox("searchText", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "搜索" })
    </div>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>搜索</button>
}

<div style="min-height:600px;">
    <ul style="padding-left:0">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
            <li class="search-list">
                @if (item.creator.Equals(User.Identity.Name.GetUserName(), StringComparison.InvariantCultureIgnoreCase))
                {

                <div class="pull-right" style="font-size:0.7em;" >
                    <a href="@Url.Action("Create", new { id = item.rowid })"><span class="glyphicon glyphicon-edit"></span> 修改</a> 
                    <a href="javascript:deleteDoc('@item.rowid')"><span class="glyphicon glyphicon-trash"></span> 删除</a>
                </div>

                }
                
                <div>
                    <a href="@(item.ref_book_id > 0 ? Url.Action("ShowBook", new { bookid = item.ref_book_id, docId = item.rowid }) : Url.Action("Show", new { id = item.rowid }))">
                        <h4>@Html.Raw(item.title)</h4>  
                        <p style="text-overflow: ellipsis; word-wrap: break-word; font-size: 0.7em; color: gray; margin: 1em;">
                            @Html.Raw(item.content)
                        </p>
                    </a>
                </div>

                <div class="category">
                    @Html.Raw(item.category)
                </div>

                <div class="update-time">
                    创建人: @AdAccount.GetUserNameById(item.creator), 更新时间: @item.update_at
                </div>          
            </li>
            }
        }
        else
        {
            <li style="list-style: none; text-align: center; margin-top: 2em;">
                没有搜索到任何结果，请尝试其它搜索词
            </li>
        }
    </ul>

    @if (Model != null && Model.Count > 0)
    { 
        <!-- 分页 -->
        <text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>

        @Html.PagedListPager(Model, page => Url.Action("Search", new { page }))
    }
</div>

@section scripts{

    <script>
    function deleteDoc(id){
        if (confirm("确认删除?")) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Delete","Document")",
                data: { id: id },

                success: function (data) {
                    if(data.success){
                        location.reload();
                    }else{
                        alert(data.message);
                    }
                }
            });
        }
    }

    </script>
}