@using MarkdownRepository.Lib
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MarkdownRepository.Models.Document

<style>
    pre::before {
        content: 'select';
        position: relative;
        display: block;
        margin-top: -5px;
        text-align: center;
        float: right;
        color: white;
        background-color: rgba(0,0,0,0.75);
        padding: 0 5px;
        cursor: pointer;
        pointer-events: all;
    }

    pre {
        pointer-events: none;
    }

    .author-info{
	    font-size: 0.6em;
        color: gray;
        margin-bottom:1em;
    }
    .category-info{
        display:flex;
        flex-wrap: wrap;
    }
    a.tag-item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 1.25rem 1rem 0;
        padding: .167rem;
        background-color: #fff;
        border: 1px solid #e3e3e3;
        border-radius: 2px;
        text-decoration: none;
        cursor: pointer;
        color: #909090;
    }
    .tag-title{
        padding: 0 .75rem;
        font-size: 1rem;
        line-height: 1.75rem;
        color: #919191;
    }
    .tag-box{
        margin:0.9em;
    }
    .tag-box h5{
        border-left-style: solid;
        border-left-color: gray;
        border-left-width: thin;
        background-color: antiquewhite;
        padding: 0.2em;
        color: gray;
    }
    .title{
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:black;
    }
</style>

@if (Model.creator.Equals(User.Identity.Name.GetUserName(), StringComparison.InvariantCultureIgnoreCase))
{
<div class="pull-right" style="font-size:0.7em;" >
    <a href="@Url.Action("Create", new { id = Model.rowid })"><span class="glyphicon glyphicon-edit"></span> 修改</a>     
</div>
}

@if (TempData["RedirectReason"] == "Unauthorized")
{
    <b style="color:Red">你无权修改！</b>
}

<h2 style="" class="title">@Model.title</h2>

<div class="author-info">
    <div>创建人: @AdAccount.GetUserNameById(Model.creator)</div>
    <div>更新时间: @Model.update_at</div>
</div>

@if (!Model.category.IsEmpty())
{

    <div class="category-info">
        @foreach (var c in Model.category.Split(','))
        {
            <a class="tag-item" href="@Url.Action("SearchByCategory", new { category = c, byOwner=false })">
                <div class="tag-title">@c</div>
            </a>
        }
    </div>
}


<div id="md">
    <textarea style="display:none;">@Model.content</textarea>
</div>

@section style{
    @System.Web.Optimization.Styles.Render("~/css/editor.md")
}

@section scripts{

@System.Web.Optimization.Scripts.Render("~/script/editor.md")

<script>
    showMarkDown("md");

    $(document).ready(function () {
        function selectText(element) {
            var doc = document
				, text = element
				, range, selection
            ;
            if (doc.body.createTextRange) { //ms
                range = doc.body.createTextRange();
                range.moveToElementText(text);
                range.select();
            } else if (window.getSelection) { //all others
                selection = window.getSelection();
                range = doc.createRange();
                range.selectNodeContents(text);
                selection.removeAllRanges();
                selection.addRange(range);
            }
        }

        var pre = document.getElementsByTagName("pre");

        for (var i = 0; i < pre.length; i++) {
            pre[i].addEventListener('click', function () {
                selectText(this);
            });
        }

    });
</script>
}
