@using MarkdownRepository.Lib
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var textOfFollow = ViewBag.IsFollowed ? "取消关注" : "关注文章";
}
@model MarkdownRepository.Models.Document

<style>
    pre::before {
        content: '全选';
        position: relative;
        display: block;
        margin-top: -5px;
        text-align: center;
        float: right;
        color: white;
        background-color: rgba(0,0,0,0.75);
        padding: 0 5px;
        cursor: pointer;
        pointer-events: all;
    }

    pre {
        pointer-events: none;
    }

    .author-info{
	    font-size: 0.6em;
        color: gray;
        margin-bottom:1em;
    }
    .category-info{
        display:flex;
        flex-wrap: wrap;
    }
    a.tag-item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 1.25rem 1rem 0;
        padding: .167rem;
        background-color: #fff;
        border: 1px solid #e3e3e3;
        border-radius: 2px;
        text-decoration: none;
        cursor: pointer;
        color: #909090;
    }
    .tag-title{
        padding: 0 .75rem;
        font-size: 1rem;
        line-height: 1.75rem;
        color: #919191;
    }
    .tag-box{
        margin:0.9em;
    }
    .tag-box h5{
        border-left-style: solid;
        border-left-color: gray;
        border-left-width: thin;
        background-color: antiquewhite;
        padding: 0.2em;
        color: gray;
    }
    .title{
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:black;
    }
</style>

@if (Model.creator.Equals(User.Identity.Name.GetUserName(), StringComparison.InvariantCultureIgnoreCase))
{
<div class="pull-right" style="font-size:0.7em;" >
    <a href="@Url.Action("Create", new { id = Model.rowid })"><span class="glyphicon glyphicon-edit"></span> 修改</a>     
</div>
}

@if (TempData["RedirectReason"] == "Unauthorized")
{
    <b style="color:Red">你无权修改！</b>
}

<h2 style="" class="title">@Model.title</h2>

<div class="author-info">
    <div>创建人: @AdAccount.GetUserNameById(Model.creator)</div>
    <div>更新时间: @Model.update_at</div>
    <div>阅读数量: @Model.read_count</div>
</div>

@if (!Model.category.IsEmpty())
{

    <div class="category-info">
        @foreach (var c in Model.category.Split(','))
        {
            <a class="tag-item" href="@Url.Action("SearchByCategory", new { category = c, byOwner=false })">
                <div class="tag-title">@c</div>
            </a>
        }
    </div>
}

<div id="toc_container"></div>

<div id="md">
    <textarea style="display:none;">@Model.content</textarea>
</div>

@if (User.Identity.IsAuthenticated && !Model.creator.Equals(User.Identity.Name.GetUserName(), StringComparison.InvariantCultureIgnoreCase))
{
    <div id="follow_doc" style="" class="follow-doc"><span id="follow_text" class="" data-toggle="tooltip" title="@textOfFollow">@textOfFollow</span></div>
}

<div id="comments"></div>

@section style{
    @System.Web.Optimization.Styles.Render("~/css/editor.md")
    <style>
        .follow-doc{
             position: fixed;
             top: 50%;
             left: 100px;
             font-size: 0.7em;
             width: 30px;
             cursor: pointer;
             border: #ddd solid 1px;
             border-radius: 5px;
             padding: 7px;
            color: #999;
        }

        #toc_container ol.markdown-toc-list, ul.markdown-toc-list {
            padding: 5px;
        }

        #toc_container:hover{
            overflow:auto;
        }

        @@media screen and (max-width: 1300px) {
            #toc_container{
                position:relative;
            }
        }
        @@media screen and (min-width: 1301px) {
            #toc_container{
                position: fixed;
                right: 20px;
                top: 110px;
                border: gray solid 1px;
                border-radius: 7px;
                overflow: hidden;
                padding: 1em;
                height: calc(100% - 150px);
                width: 180px;
                font-size: 0.8em;
            }
        }
    </style>
}

@section scripts{

@System.Web.Optimization.Scripts.Render("~/script/editor.md")

<script>
    showMarkDown("md", "#toc_container");

    $(document).ready(function () {
        function selectText(element) {
            var doc = document
				, text = element
				, range, selection
            ;
            if (doc.body.createTextRange) { //ms
                range = doc.body.createTextRange();
                range.moveToElementText(text);
                range.select();
            } else if (window.getSelection) { //all others
                selection = window.getSelection();
                range = doc.createRange();
                range.selectNodeContents(text);
                selection.removeAllRanges();
                selection.addRange(range);
            }
        }

        var pre = document.getElementsByTagName("pre");

        for (var i = 0; i < pre.length; i++) {
            pre[i].addEventListener('click', function () {
                selectText(this);
            });
        }

        $("#follow_doc").click(function () {
            var text = $("#follow_text").text(),
                action = "",
                textChangeTo = "",
                id = "@Model.rowid";

            if (text === "关注文章") {
                textChangeTo = "取消关注";
                action ='@Url.Action("FollowDocument", "Document")';
            } else {
                textChangeTo = "关注文章";
                action = '@Url.Action("CancelFollow", "Document")';
            }

            $.ajax({
                type: "POST",
                url: action,
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        $("#follow_text").text(textChangeTo);
                        $("#follow_text").attr('title', textChangeTo);
                    } else {
                    }
                }
            });
        });
    });

</script>



<link href="//192.168.13.119/web-comment/CSS/comment.css" rel="stylesheet" />
<script src="//192.168.13.119/web-comment/Script/comment.js"></script>
<script>
    (function () {
        Comments({
            node: "#comments",
            articleId: @Model.rowid,
            userName: "@User.Identity.Name.GetUserName()",
            apiUrl: "http://192.168.13.119/web-comment"
        });
    })();
</script>

}
