@{
    ViewBag.Title = "上传文件";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

<link href="@Url.Content("~/css/dropzone.min.css")" rel="stylesheet">
<style>
    form.dropzone {
        min-height: 200px;
        border: 2px dashed #007bff;
        line-height: 6rem;
    }
    .nav-item.avatar a {
        cursor: pointer;
        text-transform: capitalize;
    }
    .nav-item.avatar a > i {
        font-size: 15px;
    }
    .nav-item.avatar .dropdown-menu a {
        font-size: 13px;
    }
</style>
}
<div class="path">
    <div class="fm-upload-wrapper">
        <div class="card-header">
            <div class="">
                <a class="label label-primary" href="#fileUploader" data-target="#fileUploader"><i class="fa fa-arrow-circle-o-up"></i> 上传文件</a>
                <a class="label label-default" href="@Url.Action("Index", new { p = ViewBag.CurrentPath })" ><i class="fa fa-chevron-circle-left go-back"></i> 返回</a>
            </div>
        </div>
        <div class="card-body" style="margin-top: 1em;">
            <form id="fileUploader" action="@Url.Action("Upload")" class="dropzone card-tabs-container"  enctype="multipart/form-data">
                <input type="hidden" name="p" value="@ViewBag.CurrentPath">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{

<script src="@Url.Content("~/javascripts/dropzone.min.js")"></script>
<script>
    $(document).ready(function () {


    });

    Dropzone.options.fileUploader = {
        timeout: 120000,
        maxFilesize: 300,
        init: function () {
            this.on("sending", function (file, xhr, formData) {
                xhr.ontimeout = (function() {
                    alert('Error: Server Timeout');
                });
            }).on("success", function (res) {
                console.log('Upload Status >> ', res.status);
            }).on("error", function(file, response) {
                alert(response);
            });
        }
    }
</script>

}