@using MarkdownRepository.Controllers

<div>
    <div class="form-group">
        <label class="form-group">代码所属编程语言</label>

        <div>
            <select name="codeLanguage">
                <option value="">选择编程语言</option>
                <option value="@CodeLanguage.Csharp">@CodeLanguage.Csharp</option>
                <option value="@CodeLanguage.Js">@CodeLanguage.Js</option>
                <option value="@CodeLanguage.Html">@CodeLanguage.Html</option>
                <option value="@CodeLanguage.Css">@CodeLanguage.Css</option>
                <option value="@CodeLanguage.Sql">@CodeLanguage.Sql</option>
                <option value="@CodeLanguage.Abap">@CodeLanguage.Abap</option>
                <option value="@CodeLanguage.Vb">@CodeLanguage.Vb</option>
                <option value="@CodeLanguage.Java">@CodeLanguage.Java</option>
                <option value="@CodeLanguage.ObjectC">@CodeLanguage.ObjectC</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>搜索词，用于搜索代码</label>
        <div>
            <textarea style="width: 100%" rows="5" name="codeSearchText"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label>将代码粘贴到以下框中</label>
        <div id="txtCodeSearchCodeBody">
            <textarea name="codeSearchCodeBody" style="display:none;" ></textarea>
        </div>
    </div>

    <div class="form-group">
        <button id="btnSubmit" type="submit" class="btn btn-primary btn-sm">提交</button>
    </div>
</div>
