@using MarkdownRepository.Lib
@{
    ViewBag.Title = "代码搜索结果";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MarkdownRepository.Lib.CodeModel

@section style{
    <!-- git hub markdown style -->
    <link href="~/css/github-markdown.css" rel="stylesheet">

    <!-- highlight default style -->
    <link href="~/css/default.min.css" rel="stylesheet">

    <!-- other style for highlight -->
    <link href="~/css/highlight-styles/androidstudio.css" rel="stylesheet">
}

<div>
    <div>
        <div class="pull-left" style="font-size:0.8em;">
            <span class="glyphicon glyphicon-hand-down"></span>
            <span>以下代码由 @AdAccount.GetUserNameById(Model.UserId) 上传</span>
        </div>
        <div class="pull-right">
            <input type="button" value="返回" onclick="history.back()" class="btn btn-xs btn-default">
        </div>
        <div style="clear:both"></div>
    </div>
    <div>
        @if(Model != null)
        {
            <pre>
<code>
@Model.CodeBody
</code>
</pre>
        }
        else
        {
            <p>代码找不到了</p>
        }

    </div>
</div>

<div id="comments"></div>

@section scripts{
    <script src="@Url.Content("~/javascripts/highlight.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });
        });
    </script>


    <link href="//192.168.13.119/web-comment/CSS/comment.css" rel="stylesheet" />
    <script src="//192.168.13.119/web-comment/Script/comment.js"></script>
    <script>
        (function () {
            Comments({
                node: "#comments",
                articleId: "@Model.Id",
                userName: "@User.Identity.Name.GetUserName()",
                apiUrl: "http://192.168.13.119/web-comment",
                emailIsEnabled: true,
                articleTitle: "[" + "@Model.SearchText" + "] 代码有新的评论",
                articleWriter: "@Model.UserId"
            });
        })();
    </script>
}